<mat-dialog-content>
    <p mat-dialog-title>{{dialogTitle}}</p>
    <mat-form-field>
        <mat-label>Task title (required)</mat-label>
        <input #inputTitle matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()">
        <button *ngIf="tmpTitle && tmpTitle.trim().length > 0" mat-button matSuffix mat-icon-button aria-Label="Clear"
            (click)="tmpTitle= ''" class="size25">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose category</mat-label>

        <mat-select [(ngModel)]="tmpCategory">
            <mat-option [value]="null">No category</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose priority</mat-label>

        <mat-select [(ngModel)]="tmpPriority">
            <mat-option [value]="null">No priority</mat-option>
            <mat-option *ngFor="let prior of priorities" [value]="prior">{{prior.title}}</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-5 col-12">
        <button mat-raised-button color="primary" (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length==0">Save
        </button>

        <button mat-raised-button color="secondary" (click)="onCancel()">Cancel
        </button>
    </div>

    <div class="col-md-7 col-12 text-right">
        <button mat-button class="green" *ngIf="task.completed" (click)="open()">Open task
        </button>
        <button mat-button class="green" *ngIf="!task.completed" (click)="close()">Close task
        </button>
        <button mat-button class="red" (click)="delete()">Delete task
        </button>
    </div>

</mat-dialog-actions>