.completed{
    text-decoration: line-through;
    color: #797977
}

.table {
    width: 100% !important;
}
.col-id {
    width: 1%;
    text-align: center;
}

.col-title {
    width: 40%;
}

.col-priority {
    width: 10%;
}

.col-category {
    width: 10%;
}

.col-select {
    width: 3%;
}

.col-color {
    width: 0.2% !important;
    padding: 0% !important;
}

.col-date {
    width: 10%;
}

.not-found {
    margin-top: 30px;
    font-size: 20px;
    color: rgba(74, 74, 74, 0.98);
    text-align: center;
}

.pointer{
    cursor: pointer;
}