<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <table class="table table-hover align-items-center mb-0" [dataSource]="dataSource" mat-table>
            <ng-container matColumnDef="color">
                <th *matHeaderCellDef mat-header-cell></th>
                <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)" mat-cell></td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell></th>
                <td class="col-id" *matCellDef="let index = index" >
                    {{index + 1}}
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th *matHeaderCellDef mat-header-cell>Task</th>
                <td class="col-title" *matCellDef="let task" [class.completed]="task.completed" mat-cell>
                    {{task.title}}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th *matHeaderCellDef mat-header-cell>Date</th>
                <td class="col-date" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nodate': task.date == null}" mat-cell>
                    {{task.date | date}}
                </td>
            </ng-container>

            <ng-container matColumnDef="priority">
                <th *matHeaderCellDef mat-header-cell>Priority</th>
                <td class="col-priority" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}" mat-cell>
                    {{task.priority ? task.priority.title : "-"}}
                </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th *matHeaderCellDef mat-header-cell>Category</th>
                <td class="col-category" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nocategory': task.category == null, 'link': !task.completed && task.category}" mat-cell>
                    {{task.category ? task.category.title : "-"}}
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        </table>
    </div>
</div>