<div class="row">
    <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
        <app-stat-card 
        [completed]="true"
        [iconName]="'done'"
        [quantity]="quantity"
        [totalQuantity]="totalQuantity"
        [title]="'Completed task'"></app-stat-card>
    </div>
    <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
        <app-stat-card
        [iconName]="'thumb_down_alt'"
        [quantity]="uncomplitedQuantity"
        [totalQuantity]="totalQuantity"
        [title]="'Task in progress'"></app-stat-card>
    </div>
    
</div>