.completed{
    text-decoration: line-through;
    color: #797977
}

.table {
    width: 100% !important;
}
.col-id {
    width: 1%;
    text-align: center;
}

.col-title {
    width: 40%;
}

.col-priority {
    width: 10%;
}

.col-category {
    width: 10%;
}

.col-select {
    text-align: center !important;
    vertical-align: middle !important;
    width: 3%;
}

.mat-checkbox.mat-accent .mat-checkbox-inner-container {
    margin: 2px;
}

.col-operations {
    width: 2%;
}

.col-color {
    width: 0.2% !important;
    padding: 0% !important;
}

.col-date {
    width: 10%;
}

.not-found {
    margin-top: 30px;
    font-size: 20px;
    color: rgba(74, 74, 74, 0.98);
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
    color: #ea6561;
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.edit-icon {
    cursor: pointer;
    color: #9A9A9A;
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.mat-header-cell {
    font: 1.063rem;
    color: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    font-weight: normal;
}

.link {
    cursor: pointer;
}

.badge:hover,
.badge:focus {
  color: #EC407A;
}