
<div class="collapse navbar-collapse w-auto ps" id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item category pt-3" (click)="showTaskByCategory(null!)"  >
            <a class="nav-link pointer" [class.bg-gradient-primary]="selectedCategory === null">
                <span class="nav-link-text ms-1">All</span>
            </a>
        </li>
        <hr class="horizontal light mt-0 mb-2">
        <li class="nav-item pointer" *ngFor="let category of categories" (click)="showTaskByCategory(category)">
            <a class="nav-link" [class.bg-gradient-primary]="category === selectedCategory">
                <span class="nav-link-text ms-1">{{category.title}}</span>
            </a>
        </li>
    </ul>
</div>