.pointer {
    cursor: pointer;
}

.all-category-title {
    height: 4.875rem;
}

.edit-category-icon {
    color: #dadada;
}

.edit-category-icon-area {
    width: 15%;
    display: inline-block;
    text-align: right;
    font-size: 13px;
}

.category-title {
    width: 70%;
    display: inline-block;
}

.span.add-icon-area {
    width: 5%;
    display: inline-block;
    text-align: left;
    color: #fff;
}

#categories {
    width: 100%;
    overflow-x: hidden;
}

.nav-title {
    padding-left: 10%;
    width: 80%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.add-icon {
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
}

.search-category-area {
    font-size: 15px;
}

.search-category-button {
    margin-left: 10px;
    font-size: 25px
}


::ng-deep .search-category-area .mat-form-field-label {
    color: #dadada !important;
}

::ng-deep .search-category-area .mat-form-field-underline {
    background-color: #dadada !important;
}

.search-category-area input{
    color: #dadada;
}