
<div class="collapse navbar-collapse w-auto ps" id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item category pt-3" (click)="showTaskByCategory(null!)"  >
            <a class="nav-link pointer" [class.bg-gradient-primary]="selectedCategory === null">
                <span class="nav-link-text ms-1">All</span>
            </a>
        </li>
        <hr class="horizontal light mt-0 mb-2">
        <li class="nav-item pointer" *ngFor="let category of categories; let index = index"
         (click)="showTaskByCategory(category)"
         (mouseleave)="showEditIcon(null!)"
         (mouseenter)="showEditIcon(index)">
            <a class="nav-link" [class.bg-gradient-primary]="category === selectedCategory">
                <span class="categoty-title">{{category.title}}</span>
                <span class="edit-category-icon-area">
                    <mat-icon *ngIf="indexMouseMove === index"
                    (click)="$event.stopPropagation(); openEditDialog(category)"
                    class="edit-category-icon">edit</mat-icon>
                </span>
            </a>
        </li>
    </ul>
</div>